.background-container {
    background-image: url(https://demo.misbahwp.com/taxi-booking/wp-content/themes/taxi-booking-pro/images/slider/slider3.png);
    width: 100%;
    height: 554px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.inner-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inner-background h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.inner-background h1 {
    color: #ffc42b;
    font-size: 50px;
    font-weight: 400;
}

.img-btn {
    background-color: #413e3e;
    color: white;
    padding: 11px 25px;
    border-radius: 23px;
}

.img-btn:hover {
    background-color: #ffc42b;
}

.price-1 {
    font-size: 17px;
    font-weight: 600;
    color: #403d3d;
}

.imgg {
    border: 1px solid #d2d0d0;
    border-radius: 4px;
    padding: 7px;
}

/* width: 158px; */


.price-select {
    border: 1px solid #d2d0d0;
    border-radius: 4px;
    padding: 7px;
}

.price-select:focus {
    outline: none;
}

input:focus {
    outline: none;
}

.price-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 50px;
    max-width: 1280px;
    width: 100%;
    margin: auto;
    padding: 50px;
    background: white;
    position: absolute;
    top: 473px;
    left: 116px;
    /* background: #f5f5f594; */
}

.outer-p {
    background: #f9f9f9;
}

.first-price {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 14px;
}

.second-price {
    display: flex;
    align-items: center;
    justify-content: center;

}

.price-3 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 14px;
}

.price-2 {
    padding-bottom: 14px;
}

.btnnnn-0 {
    width: 100%;
    border-radius: 5px;
    padding: 4px 229px;
    font-size: 22px;
    background: #3ca5e7;
}

.right-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* background: #f5f5f594; */
}


@media screen and (max-width:500px) {
    .price-container {
        left: 0px;
    }

    .btnnnn-0 {
        padding: 10px 100px;
    }

}


@media screen and (max-width:1283px) {
    .price-container {
        left: 0px !important;
    }

    .btnnnn-0 {
        padding: 10px 100px;
    }

}

@media screen and (max-width:380px) {
    .price-container {
        left: 0px !important;
    }

    .btnnnn-0 {
        padding: 10px 100px;
    }

    .inner-background {
        margin-top: -180px;
        gap: 10px;
    }

    .inner-background h2 {
        text-align: center;
    }

    .inner-background h1 {
        font-size: 20px;
    }
    
}

@media screen and (max-width:440px) {
    .price-container {
        left: 0px !important;
    }

    .btnnnn-0 {
        padding: 10px 100px;
    }

    .inner-background {
        margin-top: -180px;
        gap: 10px;
    }

    .inner-background h2 {
        text-align: center;
    }

    .inner-background h1 {
        font-size: 20px;
    }
}