.cab-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1280px;
    place-items: center;
    margin: auto;
    width: 100%;
    background-color: #1b172b;
    padding: 70px 0px;
}

.outer-cab-container {
    background-color: #1b172b;
}

.left-cab h5 {
    color: #ffc42b;
}

.left-cab h3 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
}

.left-cab p {
    color: #fff;
}

.cab-btn {
    border-radius: 23px;
    padding: 11px 22px;
    margin-top: 27px;
}

.left-cab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.right-cab img:hover {
    transform: scale(1.1) !important;
    transition: all 0.3s;
}



@media screen and (max-width:380px) {
    .card {
        width: 80%;
    }

    .outer-cab-container{
        padding: 0px 30px;
    }
}

@media screen and (max-width:440px) {
    .outer-cab-container {
        padding: 0px 30px;

    }
}