.navbar-btn button {
    padding: 11px 16px;
    border-radius: 24px;
}

.nav-menu {
    display: flex;
    align-items: center;
}

ul .home-1 {
    color: #ffc42b;
    text-decoration: underline;
    text-underline-offset: 12px;
}

.navbar-container {
    position: fixed;
    z-index: 9;
}

/*  */
#main-checkbox {
    display: none;
}

.fa-bars {
    display: none;
    color: white;
}


/* media query */

@media screen and (max-width: 992px) {
    .navbar-container {
        position: relative;
        padding: 0px 30px;
        box-sizing: border-box;
    }

    .nav-menu {
        position: absolute;
        top: 75px;
        left: -100%;
        width: 50%;
        height: 287px;
        flex-direction: column;
        align-items: center !important;
        background: black;
        transition: all .5s;
    }

    .fa-bars {
        display: block;
        color: white;
        font-size: 32px;
    }

    #main-checkbox:checked~.nav-menu {
        left: 0%;
    }

    .logo {
        display: none;
    }
}